<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="./tcog-showcase.js"></script>
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    body{
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .grid-element{
      position: relative;      
      width: 400px;
      height: 296px;
        
    }
  </style>
</head>
<body>
  <div class="grid-element">
    <tcog-showcase img="../../src/img/vadasz.jpg" title="vadász" ></tcog-showcase>
  </div>
</body>
</html>